<div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <img class="w-8 h-auto" src="images/steamlauncher.svg" alt="SteamLauncher" />
          <img class="w-8 h-auto" src="images/sak32009.svg" alt="Sak32009" />
          <span class="ml-1">{{name}} v{{version}}</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <span class="mdi mdi-close"></span>
        </button>
      </div>
      <div class="modal-body markdown-body">{{{description}}}</div>
      <div class="modal-footer flex-col">
        <div>{{copyright}}</div>
        <div>
          <a href="https://github.com/Sak32009" class="btn btn-sm btn-neutral mr-2">
            <span class="mdi mdi-github ml-1"></span>
            <span>@Sak32009</span>
          </a>
          <a href="https://github.com/Sak32009/SteamLauncher" class="btn btn-sm btn-neutral">
            <span class="mdi mdi-github ml-1"></span>
            <span>@SteamLauncher</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
