<div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <form class="modal-content" action="" data-sk-channel="game-add">
      <div class="modal-header">
        <div class="modal-title">
          <span class="mdi mdi-nintendo-game-boy mdi-18px"></span>
          <span class="ml-1">
            {{^isEditMode}}
            Add {{parameters.name}}
            {{/isEditMode}}
            {{#isEditMode}}
            Edit {{data.name}}
            {{/isEditMode}}
          </span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <span class="mdi mdi-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">AppId</span>
          </div>
          <input type="number" class="form-control {{#isEditMode}}disabled{{/isEditMode}}" name="appId"
            value="{{#isEditMode}}{{data.appId}}{{/isEditMode}}" placeholder="..."
            {{#isEditMode}}readonly{{/isEditMode}} required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Path</span>
          </div>
          <input type="text" class="form-control disabled" name="path"
            value="{{^isEditMode}}{{parameters.fullPath}}{{/isEditMode}}{{#isEditMode}}{{data.path}}{{/isEditMode}}"
            placeholder="..." required readonly>
          <button type="button" class="btn btn-gray" data-sk="choseDirFile">
            <span class="mdi mdi-paperclip mdi-18px"></span>
          </button>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Run Path</span>
          </div>
          <input type="text" class="form-control disabled" name="runPath"
            value="{{^isEditMode}}{{parameters.dir}}{{/isEditMode}}{{#isEditMode}}{{data.runPath}}{{/isEditMode}}"
            placeholder="..." required readonly>
          <button type="button" class="btn btn-gray" data-sk="choseDirFile">
            <span class="mdi mdi-paperclip mdi-18px"></span>
          </button>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Command Line</span>
          </div>
          <input type="text" class="form-control" name="commandLine"
            value="{{#isEditMode}}{{data.commandLine}}{{/isEditMode}}" placeholder="ex: -steam">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Listen Port</span>
          </div>
          <input type="number" class="form-control" name="listenPort"
            value="{{^isEditMode}}47584{{/isEditMode}}{{#isEditMode}}{{data.listenPort}}{{/isEditMode}}"
            placeholder="default: 47584" required>
        </div>
        <div class="input-group">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Overlay</span>
          </div>
          <select class="form-control" name="overlay" required>
            <option value="true" {{#data.overlay}}selected{{/data.overlay}}>Activated</option>
            <option value="false" {{^data.overlay}}selected{{/data.overlay}}>Deactivated</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
