<div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <form class="modal-content" action="" sk-channel="game-add">
      <div class="modal-header">
        <div class="modal-title">
          <span class="mdi mdi-nintendo-game-boy mdi-18px"></span>
          <span class="ml-1">
            {{^isEditMode}}
            Add {{parameters.name}}
            {{/isEditMode}}
            {{#isEditMode}}
            Edit {{data.name}}
            {{/isEditMode}}
          </span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <span class="mdi mdi-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">AppId</span>
          </div>
          {{^isEditMode}}
          <input type="number" class="form-control" name="appId" value="" placeholder="..." required>
          {{/isEditMode}}
          {{#isEditMode}}
          <input type="number" class="form-control disabled" name="appId" value="{{data.appId}}" placeholder="..."
            readonly required>
          {{/isEditMode}}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Path</span>
          </div>
          {{^isEditMode}}
          <input type="text" class="form-control disabled" name="path" value="{{parameters.fullPath}}" placeholder="..."
            required readonly>
          {{/isEditMode}}
          {{#isEditMode}}
          <input type="text" class="form-control disabled" name="path" value="{{data.path}}" placeholder="..." required
            readonly>
          {{/isEditMode}}
          <button type="button" class="btn btn-neutral" data-sk="choseDirFile">
            <span class="mdi mdi-paperclip"></span>
          </button>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Run Path</span>
          </div>
          {{^isEditMode}}
          <input type="text" class="form-control disabled" name="runPath" value="{{parameters.dir}}" placeholder="..."
            required readonly>
          {{/isEditMode}}
          {{#isEditMode}}
          <input type="text" class="form-control disabled" name="runPath" value="{{data.runPath}}" placeholder="..."
            required readonly>
          {{/isEditMode}}
          <button type="button" class="btn btn-neutral" data-sk="choseDirFile">
            <span class="mdi mdi-paperclip"></span>
          </button>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Command Line</span>
          </div>
          {{^isEditMode}}
          <input type="text" class="form-control" name="commandLine" value="" placeholder="ex: -steam">
          {{/isEditMode}}
          {{#isEditMode}}
          <input type="text" class="form-control" name="commandLine" value="{{data.commandLine}}"
            placeholder="ex: -steam">
          {{/isEditMode}}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Listen Port</span>
          </div>
          {{^isEditMode}}
          <input type="number" class="form-control" name="listenPort" value="47584" placeholder="default: 47584"
            required>
          {{/isEditMode}}
          {{#isEditMode}}
          <input type="number" class="form-control" name="listenPort" value="{{data.listenPort}}"
            placeholder="default: 47584" required>
          {{/isEditMode}}
        </div>
        <div class="input-group">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Overlay</span>
          </div>
          <select class="form-control" name="overlay" required>
            {{^data.overlay}}
            <option value="true">Activated</option>
            <option value="false" selected>Deactivated</option>
            {{/data.overlay}}
            {{#data.overlay}}
            <option value="true" selected>Activated</option>
            <option value="false">Deactivated</option>
            {{/data.overlay}}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
