<div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <form class="modal-content" action="" data-sk-channel="account-create">
      <div class="modal-header">
        <div class="modal-title">
          <span
            class="mdi {{^isEditMode}}mdi-account-plus{{/isEditMode}}{{#isEditMode}}mdi-account-edit{{/isEditMode}} mdi-18px"></span>
          <span class="ml-1">
            {{^isEditMode}}
            Create account
            {{/isEditMode}}
            {{#isEditMode}}
            Edit account
            {{/isEditMode}}
          </span>
        </div>
        {{#isEditMode}}
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <span class="mdi mdi-close"></span>
        </button>
        {{/isEditMode}}
      </div>
      <div class="modal-body text-center">
        {{^isEditMode}}
        <div class="mb-3">Before proceeding, please create your account!</div>
        {{/isEditMode}}
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-account-question mdi-18px"></span>
            <span class="ml-1">Name</span>
          </div>
          <input type="text" class="form-control" name="name" value="{{#isEditMode}}{{accountData.name}}{{/isEditMode}}"
            placeholder="..." required>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-translate mdi-18px"></span>
            <span class="ml-1">Language</span>
          </div>
          <select class="form-control" name="language" required>
            <option value="english">...</option>
            {{#inputLanguages}}
            <option value="{{@key}}">{{@val}}</option>
            {{/inputLanguages}}
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-key mdi-18px"></span>
            <span class="ml-1">WebAPI Key <span class="text-red-500">(*)</span></span>
          </div>
          <input type="text" class="form-control" name="steamWebApiKey" placeholder="..."
            value="{{#isEditMode}}{{accountData.steamWebApiKey}}{{/isEditMode}}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-identifier mdi-18px"></span>
            <span class="ml-1">SteamID</span>
          </div>
          <input type="number" class="form-control" name="steamId" value="{{accountData.steamId}}"
            placeholder="Ex: 76596712918662909">
        </div>
        <div class="text-xs"><span class="text-red-500">(*)</span> To get achievements, stats and items get
          key from <a class="link" href="https://steamcommunity.com/dev/apikey" target="_blank">here</a>. If no API key
          is given, it will only get games infos and DLCs.</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
