<div class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <form class="modal-content" action="" data-sk-channel="settings-edit">
      <div class="modal-header">
        <div class="modal-title">
          <span class="mdi mdi-cogs mdi-18px"></span>
          <span class="ml-1">Settings</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          <span class="mdi mdi-close"></span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="input-group mb-3">
          <div class="input-group-text">
            <span class="mdi mdi-steam mdi-18px"></span>
            <span class="ml-1">SteamClient Path <span class="text-red-500">(*)</span></span>
          </div>
          <input type="text" class="form-control disabled" name="steamClientPath" value="{{data.steamClientPath}}"
            placeholder="click on paperclip and chose directory" readonly required>
          <button type="button" class="btn btn-gray mdi-18px" data-sk="choseDirFile">
            <span class="mdi mdi-paperclip"></span>
          </button>
        </div>
        <div class="text-xs"><span class="text-red-500">(*)</span> Download Mr. GoldBerg Steam Emulator and select the
          "experimental_steamclient" folder.</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
